@{
    ViewData["Title"] = "Bem vindo";
}

@* <div class="container-fluid">
    <div class="p-3 mb-3">
        <div class="container">
            <h2>Bem-vindo a área de Administrador</h2>
            <p>Aqui você pode gerenciar usuários, visualizar estágios, instituições, criar e editar consultas e muito mais.</p>
        </div>
    </div>
</div>
 *@
<div class="row justify-content-center mt-4">
    <div class="col-md-5">
        <div class="card p-5">
            <div class="card-body">
                <h2 class="text-center">Bem-vindo a área de Administrador</h2>
                <p class="text-center">Aqui você pode gerenciar usuários, visualizar estágios, instituições, criar e editar consultas e muito mais.</p>
            </div>
            </div>
        </div>
    </div>
</div>