<div class="container">
    <h2>Bem-vindo a área de Administrador</h2>
    <p>Você está prestes a acessar recursos poderosos e exclusivos!</p>
    <p>Aqui você pode gerenciar usuários, visualizar estágios, instituições e muito mais.</p>
</div>

