@model InstituicaoViewModel

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card card-opacidade">
                <div class="card-body p-5">
                    <h3 class="text-center mb-5">Cadastro de Instituição</h3>
                    <form asp-area="Admin" asp-controller="AdminEstagios" asp-action="CriarInstituicao" method="post">
                        <h4 class="text-center mb-4">Dados da Instituição</h4>
                        <div class="row mb-4">
                            <div class="col">
                                <label asp-for="Nome" class="form-label font-weight-bold">Nome da Instituição</label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                        <hr>
                        <h4 class="text-center mb-4">Endereço da Instituição</h4>
                        <div class="row mb-4">
                            <div class="col">
                                <label asp-for="Logradouro" class="form-label font-weight-bold">Logradouro</label>
                                <input asp-for="Logradouro" class="form-control" />
                                <span asp-validation-for="Logradouro" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Numero" class="form-label font-weight-bold">Número</label>
                                <input asp-for="Numero" class="form-control" />
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label asp-for="Complemento" class="form-label font-weight-bold">Complemento</label>
                                <input asp-for="Complemento" class="form-control" />
                                <span asp-validation-for="Complemento" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bairro" class="form-label font-weight-bold">Bairro</label>
                                <input asp-for="Bairro" class="form-control" />
                                <span asp-validation-for="Bairro" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label asp-for="Cidade" class="form-label font-weight-bold">Cidade</label>
                                <input asp-for="Cidade" class="form-control" />
                                <span asp-validation-for="Cidade" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Cep" class="form-label font-weight-bold">CEP</label>
                                <input id="cep" asp-for="Cep" class="form-control" />
                                <span asp-validation-for="Cep" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="text-center">
                            <button asp-controller="AdminInstituicoes" asp-action="CriarInstituicao" type="submit" class="btn botoes-cor1 btn btn-block">Cadastrar Instituição</button>
                            <a asp-controller="Admin" asp-action="Index" class="btn botoes-cor2 btn btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#cep').mask('00000-000', { reverse: false });
</script>
