@{
    ViewData["Title"] = "Aluno Não Encontrado";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">Aluno não encontrado</h1>
                    <p class="card-text">O aluno com o RA @ViewBag.AlunoRa não foi encontrado.</p>
                    <p class="card-text">Por favor, verifique se o RA foi inserido corretamente.</p>
                </div>
            </div>
        </div>
    </div>
</div>

