@model LoginViewModel

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <h3 class="mb-5">Acessar</h3>
            <form asp-controller="Account" asp-action="Login" class="form-horizontal" method="post" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-outline form-group mb-4">
              <input asp-for="UserName" type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              <label asp-for="UserName" class="form-label" for="typeEmailX-2">Email</label>
            </div>

            <div class="form-outline form-group mb-4">
              <input asp-for"Password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label asp-for="Password" class="form-label" for="typePasswordX-2">Password</label>
            </div>

            <div class="d-flex justify-content-start mb-4">
                <label class="form-check-label" for="form1Example3"> Não tem cadastro? <a asp-controller="Account" asp-action="Register">Clique aqui!</a>  </label>
            </div>

            <button class="btn botoes-cor btn-lg btn-block" type="submit">Login</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>