@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<section class="tela-login">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 gap-5 responsividade-banner-login">
            <img src="~/assets/img/unifaat/logo-unipsico-azul.svg" class="w-50" alt="Alternate Text" />
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card card-opacidade">
                    <div class="card-body p-5">
                        <h3 class="mb-5">Acessar</h3>
                        <form asp-controller="Account" asp-action="Login" class="form-horizontal" method="post" role="form">                       
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-outline form-group mb-4 d-flex flex-column">
                                <input placeholder="email@gmail.com" asp-for="UserName" type="email" id="typeEmailX-2" class="form-control" />
                                <label asp-for="UserName" class="ms-1 mt-1 form-label" for="typeEmailX-2">Email</label>
                                <span asp-validation-for="UserName" class="text-danger mt-2"></span>
                            </div>
                            <div class="form-outline form-group mb-4 d-flex flex-column">
                                <input asp-for="Password" type="password" id="typePasswordX-2" class="form-control" />
                                <label asp-for="Password" class="ms-1 mt-1 form-label" for="typePasswordX-2">Senha</label>
                                <span asp-validation-for="Password" class="text-danger mt-2"></span>
                            </div>

                            <div class="d-flex justify-content-start mb-4">
                                <label class="form-check-label" for="form1Example3"> Não tem cadastro? <a asp-controller="Account" asp-action="Register">Clique aqui!</a>  </label>
                            </div>
                            <button class="btn botoes-cor1 btn btn-block" type="submit">Login</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>