@model RegisterViewModel

<section class="tela-login">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100  gap-5">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card card-opacidade">
                    <div class="card-body p-5">
                        <h3 class="mb-5">Novo Acesso</h3>
                        <form asp-controller="Account" asp-action="Register" method="post">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="mb-4 d-flex gap-4">
                                <div class="w-100 d-flex flex-column">
                                    <input placeholder="" asp-for="NomeCompleto" class="form-control" />
                                    <label asp-for="NomeCompleto" class="ms-1 mt-1 form-label font-weight-bold">Nome do Paciente</label>
                                    <span asp-validation-for="NomeCompleto" class="text-danger ms-1 "></span>
                                </div>
                                <div class="w-100  d-flex flex-column">
                                    <input placeholder="000.000.000-00" asp-for="Cpf" id="cpf" class="form-control" />
                                    <label asp-for="Cpf" class="ms-1 mt-1 form-label">CPF</label>
                                    <span asp-validation-for="Cpf" class="text-danger ms-1 "></span>
                                </div>
                            </div>
                            <div class="mb-4 d-flex gap-4">
                                <div class="w-100  d-flex flex-column">
                                    <input placeholder="email@gmail.com" asp-for="Email" class="form-control" />
                                    <label asp-for="Email" class="ms-1 mt-1 form-label font-weight-bold">E-mail</label>
                                    <span asp-validation-for="Email" class="text-danger ms-1 "></span>
                                </div>
                                <div class="w-100 d-flex flex-column">
                                    <input asp-for="DataNascimento" type="date" class="form-control" />
                                    <label asp-for="DataNascimento" class="ms-1 mt-1 form-label">Data de nascimento</label>
                                    <span asp-validation-for="DataNascimento" class="text-danger ms-1 "></span>
                                </div>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <input asp-for="Password" type="password" class="form-control" />
                                <label asp-for="Password" class="ms-1 mt-1 form-label">Senha</label>
                                <span asp-validation-for="Password" class="text-danger ms-1"></span>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <input asp-for="Repassword" type="password" class="form-control" />
                                <label asp-for="Repassword" class="ms-1 mt-1 form-label">Confirme a Senha</label>
                                <span asp-validation-for="Repassword" class="text-danger ms-1"></span>
                            </div>
                            <div class="mb-4">
                                <select class="visually-hidden" asp-for="SelectedRole" class="form-control">
                                    <option class="visually-hidden" disabled="disabled" value="Paciente"></option>
                                </select>
                                <input type="hidden" name="SelectedRole" value="Paciente" />
                                <label class="visually-hidden" asp-for="SelectedRole"></label>
                                <span asp-validation-for="SelectedRole" class="text-danger ms-1"></span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn botoes-cor1 btn-block">Registrar</button>
                                <button asp-area="" asp-controller="Home" asp-action="Index" class="btn text-center botoes-cor2">Voltar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#cpf').mask('000.000.000-00', { reverse: false });
    </script>

</section>


