@model RegisterViewModel

<section class="vh-100">

<div class="container py-5 h-100">
    <div class="row d-flex align-iems-center justify-content-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-header p-5">

                </div>
                <div class="card-body text-center">
                    <h3 class="text-center">Registrar Usuário</h3>
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <hr />
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="font-weight-bold">Nome de Usuário</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cpf" class="font-weight-bold">CPF</label>
                            <input asp-for="Cpf" class="form-control" />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DataNascimento" class="font-weight-bold">Data de nascimento</label>
                            <input asp-for="DataNascimento" class="form-control"/>
                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="font-weight-bold">Senha</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Repassword" class="font-weight-bold">Insira a senha novamente</label>
                            <input asp-for="Repassword" type="password" class="form-control" />
                            <span asp-validation-for="Repassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>