@model AppUnipsico.Models.Consulta

@{
    ViewData["Title"] = "Criar Consulta";
}
<h1 class="text-center">Criar Consulta</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">Consulta</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsultaId" class="control-label">Consulta</label>
                <select asp-for="ConsultaId" class="form-control" asp-items="ViewBag.ConsultaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataConsulta.Data" class="control-label">Data da Consulta</label>
                <input asp-for="DataConsulta.Data" class="form-control" />
                <span asp-validation-for="DataConsulta.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusConsulta" class="control-label">Status da Consulta</label>
                <select asp-for="StatusConsulta" class="form-control">
                    <option value="Agendada">Agendada</option>
                </select>
                <span asp-validation-for="StatusConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Usuário</label>
                <input asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary col-5">Criar Consultas</button>
                <a asp-action="Index" class="btn btn-secondary col-5">Voltar à lista</a>
            </div>
        </form>
    </div>
</div>
