@model AppUnipsico.Models.Consulta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsultaId" class="control-label"></label>
                <select asp-for="ConsultaId" class ="form-control" asp-items="ViewBag.ConsultaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataConsulta" class="control-label"></label>
                <input asp-for="DataConsulta" class="form-control" />
                <span asp-validation-for="DataConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusConsulta" class="control-label"></label>
                <select asp-for="StatusConsulta" class="form-control"></select>
                <span asp-validation-for="StatusConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <input asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

