@model CriaConsultaViewModel

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="text-left" style="color: white">Criação de Consulta</h3>
    </div>
    <hr />
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card">
                <div class="card-body p-5">
                    <form asp-area="Admin" asp-controller="AdminConsultas" asp-action="CriarConsultaConfirmada" method="post">
                        <h4 class="text-center mb-4">Selecionar Data</h4>
                        <div class="row mb-4">
                            <div class="col">                            
                                <select id="DataId" name="DataId" asp-for="DataId" class="form-select">
                                    @foreach (var data in ViewBag.DatasDisponiveis)
                                    {
                                        <option value="@data.Id">@data.Data</option>
                                    }
                                </select>
                                <label for="DataId" class="ms-1 mt-1 form-label">Data da Consulta</label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <input type="text" id="cpfPaciente" name="CpfPaciente" class="form-control" placeholder="Informe o CPF do paciente" />
                                <label for="cpfPaciente" class="ms-1 mt-1 form-label">CPF do Paciente</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn botoes-cor1 btn btn-block">Criar Consulta</button>
                            <a asp-controller="Admin" asp-action="Index" class="btn botoes-cor2 btn btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#cpfPaciente').mask('000.000.000-00', { reverse: false });
</script>
