@{
    ViewData["Title"] = "Data de consulta não encontrada";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">Data não encontrada</h1>
                    <p class="card-text">Por favor, verifique se a Data foi inserida corretamente.</p>
                </div>
            </div>
        </div>
    </div>
</div>

