@{
    ViewData["Title"] = "Paciente Não Encontrado";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">Paciente não encontrado</h1>
                    <p class="card-text">O Paciente não foi encontrado.</p>
                    <p class="card-text">Por favor, verifique se o CPF foi inserido corretamente.</p>
                </div>
            </div>
        </div>
    </div>
</div>
