@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> userManager
@inject SignInManager<Usuario> signInManager

@{
    var user = await userManager.GetUserAsync(User);
}

@if (signInManager.IsSignedIn(User) && user != null)
{
    var isInRolePaciente = await userManager.IsInRoleAsync(user, "Paciente");
    var isInRoleAdmin = await userManager.IsInRoleAsync(user, "Admin");
    var isInRoleAluno = await userManager.IsInRoleAsync(user, "Aluno");

    if (isInRolePaciente)
    {
        <a class="nav-link text-light" asp-area="" asp-controller="Datas" asp-action="Index">Datas Disponíveis</a>
        <a class="nav-link text-light" asp-area="" asp-controller="Consulta" asp-action="ConsultaPaciente">Suas Consultas</a>
        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-left">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0 text-info">Logout @user.NomeCompleto</button>
        </form>
    }
    else if (isInRoleAdmin)
    {
        <a class="nav-link text-light" asp-area="Admin" asp-controller="Admin" asp-action="Index">Dashboard Admin</a>
        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-left">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0 text-info">Logout @user.NomeCompleto</button>
        </form>
    }
    else if (isInRoleAluno)
    {
        <a class="nav-link text-light" asp-area="Aluno" asp-controller="Aluno" asp-action="Index">Dashboard Aluno</a>
        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-left">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0 text-info">Logout @user.NomeCompleto</button>
        </form>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <a class="nav-link text-left" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString)" style="color:white">&nbsp; Login &nbsp;</a>
        <a class="nav-link text-left" asp-controller="Account" asp-action="Register" style="color:white">&nbsp;Registro&nbsp;&nbsp;</a>
    </ul>
}

