@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> userManager
@inject SignInManager<Usuario> signInManager

@{
    var user = await userManager.GetUserAsync(User);
}

@if (!signInManager.IsSignedIn(User) && user == null)
{
    <a class="nav-link text-left" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString)" style="color:white">&nbsp; Login &nbsp;</a>
    <a class="nav-link text-left" asp-controller="Account" asp-action="Register" style="color:white">&nbsp;Registro&nbsp;&nbsp;</a>
    <a class="nav-link text-left" asp-area="" asp-controller="Estagios" asp-action="Index" style="color:white">&nbsp;Verificar Estágio&nbsp;&nbsp;</a>
}

