<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo a área do Aluno</title>
    <link href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <h1>Bem-vindo a área do Aluno</h1>
        <p>Você está prestes a acessar recursos exclusivos para alunos!</p>
        <p>Aqui você pode visualizar informações sobre estágios e presenças.</p>
    </div>
</body>
</html>
