@{
    ViewData["Title"] = "Bem-vindo";
}
<div class="container-fluid">
    <div class="p-3 mb-3">
        <div class="container">
            <h2>Bem-vindo a área do Aluno</h2>
            <p>Aqui você pode visualizar informações sobre estágios e presenças.</p>
        </div>
    </div>
</div>