@{
    ViewData["Title"] = "Bem-vindo";
}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card p-5">
            <div class="card-body">
                <h2 class="text-center">Bem-vindo a área do Aluno</h2>
                <p class="text-center">Aqui você pode visualizar informações sobre estágios e presenças.</p>
            </div>
        </div>
    </div>
</div>