<body>
    <div class="container-fluid">
        <div class="row justify-content-center p-5">
            <div class="col-md-8 text-center">
                <h2 style="color: white">Página em Construção</h2>
                <p style ="color: white">Estamos trabalhando nesta página. Por favor, volte mais tarde para ver o conteúdo completo.</p>
                <img src="~/assets/img/ilustracoes/pagina-construcao.png" alt="Página em Construção" class="img-fluid mt-4">
            </div>
        </div>
    </div>
</body>

