@model RegistraUsuarioViewModel

<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card card-opacidade">
                <div class="card-body p-5">
                    <h3 class="mb-5">Registrar Usuário</h3>
                    <form asp-area="Admin" asp-controller="AdminUsuarios" asp-action=" Register" class="form-horizontal" method="post">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-outline form-group mb-4 d-flex flex-column">
                            <input asp-for="NomeCompleto" class="form-control" />
                            <label class="ms-1 mt-1 form-label" asp-for=" NomeCompleto">Nome completo</label>
                            <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                        </div>
                        <div class="form-outline form-group mb-4 d-flex flex-column">
                            <input asp-for="Email" class="form-control" />
                            <label class="ms-1 mt-1 form-label" asp-for="Email">E-mail</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-4 d-flex gap-2">
                            <div class="form-outline form-group mb-4 d-flex flex-column w-50">
                                <input asp-for="Cpf" placeholder="000.000.000-00" id="cpf" class="form-control" />
                                <label class="ms-1 mt-1 form-label" asp-for="Cpf">CPF</label>
                                <span asp-validation-for="Cpf" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-group mb-4 d-flex flex-column w-50">
                                <input asp-for="DataNascimento" class="form-control"/>
                                <label class="ms-1 mt-1 form-label" asp-for="DataNascimento">Data de Nascimento</label>
                                <span asp-validation-for="DataNascimento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-4 d-flex gap-2">
                            <div class="form-outline form-group mb-4 d-flex flex-column w-100">
                                <select asp-for="SelectedRole" class="form-control" id="SelectedRole">
                                    <option value="" disabled>Escolha um perfil</option>
                                    <option value="Aluno">Aluno</option>
                                    <option value="Professor">Professor</option>
                                    <option value="Admin">Administrador</option>
                                </select>
                                <label class="ms-1 mt-1 form-label" asp-for="SelectedRole"></label>
                                <span asp-validation-for="SelectedRole" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-group mb-4 d-flex flex-column w-100" style="display: none;" id="raInput">
                                <input asp-for="RA" class="form-control" />
                                <label class="ms-1 mt-1 form-label" asp-for="RA">RA</label>
                                <span asp-validation-for="RA" class="text-danger"></span>
                            </div>
                        </div>                  
                        <div class="form-outline form-group mb-4 d-flex flex-column">
                            <input asp-for="Password" type="password" class="form-control" />
                            <label class="ms-1 mt-1 form-label" asp-for="Password">Senha</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-outline form-group mb-4 d-flex flex-column">
                            <input asp-for="Repassword" type="password" class="form-control" />
                            <label class="ms-1 mt-1 form-label" asp-for="Repassword">Confirmar Senha</label>
                            <span asp-validation-for="Repassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-outline form-group mb-4 d-flex flex-column">
                            <button type="submit" class="btn btn-success btn-block">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('SelectedRole').addEventListener('change', function () {
            var selectedRole = this.value;
            var raInput = document.getElementById('raInput');

            if (selectedRole === 'Aluno') {
                raInput.style.display = 'block';
            } else {
                raInput.style.display = 'none';
            }
        });
    </script>
    <script>
        $('#cpf').mask('000.000.000-00', { reverse: false });
    </script>
}


