@model RegistraUsuarioViewModel
@{
    ViewData["Title"] = "Registrar Usuário";
}
<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="text-left" style="color: white">Cadastrar novo usuário</h3>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card">
                <div class="card-body p-5">
                    <h3 class="mb-5">Registrar Usuário</h3>
                    <form asp-area="Admin" asp-controller="AdminUsuarios" asp-action="Register" class="form-horizontal" method="post">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="row">
                            <div class="col-12">
                                <label class="ms-1 mt-1 form-label" asp-for="NomeCompleto">Nome completo</label>
                                <input asp-for="NomeCompleto" class="form-control" />
                                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="ms-1 mt-1 form-label" asp-for="Email">E-mail</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="ms-1 mt-1 form-label" asp-for="Cpf">CPF</label>
                                <input asp-for="Cpf" placeholder="000.000.000-00" id="cpf" class="form-control" pattern="[0-9]*"/>
                                <span asp-validation-for="Cpf" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label class="ms-1 mt-1 form-label" asp-for="DataNascimento">Data de Nascimento</label>
                                <input asp-for="DataNascimento" class="form-control" />
                                <span asp-validation-for="DataNascimento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="ms-1 mt-1 form-label" asp-for="SelectedRole"></label>
                                <select asp-for="SelectedRole" class="form-control" id="SelectedRole">
                                    <option value="" disabled>Escolha um perfil</option>
                                    <option value="Aluno">Aluno</option>
                                    <option value="Professor">Professor</option>
                                    <option value="Admin">Administrador</option>
                                </select>
                                <span asp-validation-for="SelectedRole" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label id="raLabel" asp-for="RA">RA</label>
                                <input id="raInput" asp-for="RA" class="form-control" pattern="[0-9]*" />
                                <span asp-validation-for="RA" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="ms-1 mt-1 form-label" asp-for="Password">Senha</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label class="ms-1 mt-1 form-label" asp-for="Repassword">Confirmar Senha</label>
                                <input asp-for="Repassword" type="password" class="form-control" />
                                <span asp-validation-for="Repassword" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="">
                            <button type="submit" class="btn btn-success btn-block">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('SelectedRole').addEventListener('change', function () {
            var selectedRole = this.value;
            var raInput = document.getElementById('raInput');
            var raLabel = document.getElementById('raLabel');

            if (selectedRole === 'Aluno') {
                raInput.style.display = 'block';
                raLabel.style.display = 'block';
            } else {
                raInput.style.display = 'none';
                raLabel.style.display = 'none';
            }
        });
    </script>
    <script>
        $('#cpf').mask('000.000.000-00', { reverse: false });
    </script>
    <script>
        $('#raInput').mask('0000000', { reverse: false });
    </script>
}
