@model RegisterViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="text-center">Registrar Usuário</h3>
                </div>
                <div class="card-body text-center">
                    <img src="~/img/registrado.png" alt="Registrar Usuário" style="width: 100px; height: auto;" class="mb-4" />
                    <form asp-area="Admin" asp-controller="AdminUsuarios" asp-action="Register" method="post">
                        <hr />
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="NomeCompleto" class="font-weight-bold">Nome completo</label>
                            <input asp-for="NomeCompleto" class="form-control" />
                            <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="font-weight-bold">E-mail</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cpf" class="font-weight-bold">CPF</label>
                            <input asp-for="Cpf" class="form-control" />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DataNascimento" class="font-weight-bold">Data de Nascimento</label>
                            <input asp-for="DataNascimento" class="form-control" />
                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SelectedRole"></label>
                            <select asp-for="SelectedRole" class="form-control">
                                <option value="" disabled>Escolha um perfil</option>
                                <option value="Aluno">Aluno</option>
                                <option value="Professor">Professor</option>
                                <option value="Admin">Administrador</option>
                            </select>
                            <span asp-validation-for="SelectedRole" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="font-weight-bold">Senha</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Repassword" class="font-weight-bold">Confirmar Senha</label>
                            <input asp-for="Repassword" type="password" class="form-control" />
                            <span asp-validation-for="Repassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

