@{
    ViewData["Title"] = "Buscar Estágio";
}

<section class="tela-login">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card card-opacidade">
                    <div class="card-body p-5">
                        <h3 class="mb-5">Buscar Estágio</h3>
                        <form asp-controller="Estagios" asp-action="BuscaEstagio" class="form-horizontal" method="post">
                            <div class="form-outline form-group mb-5 d-flex flex-column">
                                <label class="text-center" for="inputIdEstagio">ID do Estágio</label>
                                <input placeholder="c23520ad-c939-426c-ae17-34de725f3fc3" type="text" class="form-control" id="estagioId" name="EstagioId">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn botoes-cor1 btn btn-block">Buscar</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>