html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cor_unifaat {
    background-color: #00365d;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botoes-cor1 {
    background-color: #00365d;
    color: white
}

.botoes-cor2 {
    background-color: grey;
    color: white
}
.background-login {
    background-image: url(https://cdn.pixabay.com/photo/2016/10/22/17/02/blue-1761175_1280.jpg);
    display: block;
    height: 100%;
    padding: 0;
    background-position: 100% 100%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 100% 100%;
    -o-background-size: cover;
}