html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cor_unifaat {
    background-color: #00365d;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botoes-cor1 {
    background-color: #00365d;
    color: white
}

.botoes-cor2 {
    background-color: grey;
    color: white
}
.background-login {
    background-image: url(https://c.wallhere.com/photos/ff/94/2560x1920_px_abstract_Low_Poly-841105.jpg!d);
    display: block;
    height: 100%;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card-opacidade {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}